@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    ul li {
        font-size: large;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy</title>
</head>
<body>

    <h1><b>BookAdvisor Privacy Policy</b></h1>
    <h2 style="color: blue">This Application collects some Personal Data from its Users.</h2>

    <ol>
        <li>
            <h2>Use of the Data and other Data collected</h2>
            <ul>
                <li>
                    Access to third party services' accounts; Access to the Facebook account Permissions: Books Actions
                </li>
            </ul>
        </li>
        <li>
            <h2>Data owner</h2>
            <ul>
                <li>Individual, Kyproy 8,Patrai(Greece)</li>
                <li>Owner contact email: filippo-11@hotmail.com</li>
            </ul>
        </li>
        <li>
            <h2>Facebook permissions asked by this Application</h2>
            <ul>
                <li>Basic information ; Allows the Owner to retrieve some basic information from your Facebook profile.</li>
                <li>Email ; Provides access your primary email address. Do not spam and complies with both Facebook policies and with the CAN-SPAM Act.</li>
                <li>Books Actions ; Provides access to all common books actions published by any app you have used. This includes books they've read, want to read, rated or quoted.</li>
            </ul>
        </li>
    </ol>




</body>
</html>